In [3]:
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules

import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
df = pd.read_csv('Masipalingwangi.csv')
#(df.head(100))
df

,area,id_retail,id_depo,order_date,order_no,id_produk,katagori,qty_sales_order,amount_sales_order,kabupaten
0,JAWA TIMUR,C100292760,G00129,2022-01-01,SO2201000002373440,SM0307,Makanan Kemasan,1,17500,Kabupaten Malang
1,JAWA TIMUR,C100299573,G00129,2022-01-01,SO2201000002373682,TPP00008,Makanan Kemasan,2,30000,Kabupaten Malang
2,JAWA TIMUR,C100148733,G00129,2022-01-01,SO2201000002373449,V0072,Makanan Ringan,1,25500,Kabupaten Malang
3,JAWA TIMUR,C100292760,G00129,2022-01-01,SO2201000002373440,3206025,Makanan Ringan,1,10500,Kabupaten Malang
4,JAWA TIMUR,C100292760,G00129,2022-01-01,SO2201000002373440,SM0029,Makanan Ringan,1,26500,Kabupaten Malang
...,...,...,...,...,...,...,...,...,...,...
686023,JAWA TIMUR,C100040387,G01169,2022-12-28,SO2212000004252616,461186,Sembako,3,81000,Kabupaten Situbondo
686024,JAWA TIMUR,C100140829,G01169,2022-12-28,SO2212000004253546,SM00000991,Sembako,6,31500,Kabupaten Situbondo
686025,JAWA TIMUR,C100140829,G01169,2022-12-28,SO2212000004253546,SM00000992,Sembako,5,5000,Kabupaten Situbondo
686026,JAWA TIMUR,C100146400,G01169,2022-12-28,SO2212000004250981,000320,Sembako,3,13950,Kabupaten Situbondo
686027,JAWA TIMUR,C100146400,G01169,2022-12-28,SO2212000004250981,000321,Sembako,3,13950,Kabupaten Situbondo

In [4]:
df_result = df.groupby(['order_no', 'id_produk']).agg(order=('id_produk', 'count')).reset_index()

df_result

                  order_no id_produk  order
0       SO2201000002373401    003000      1
1       SO2201000002373401   2903074      1
2       SO2201000002373401    PR0251      1
3       SO2201000002373401    PR0262      1
4       SO2201000002373401    PR0591      1
...                    ...       ...    ...
686023  SO2212000004274428   PR02665      1
686024  SO2212000004274428  PR027018      1
686025  SO2212000004274428   PR02705      1
686026  SO2212000004274428    PR0308      1
686027  SO2212000004274428  TPP00011      1

[686028 rows x 3 columns]

In [5]:
# Mengubah DataFrame menjadi list dari transaksi
transactions = df_result.groupby('order_no')['id_produk'].apply(list).tolist()

In [6]:
# Melakukan one-hot encoding pada transaksi
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)
df_encoded

,000000065,000000098765,000002,000004,000006,000008,00000987,000011,0000124,000023,...,v0503,v0703,v0777,v0928,v0929,v0930,v0935,v10021,valensia800,wedangjahemerah
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69551,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
69552,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
69553,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
69554,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
69555,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
# Menggunakan algoritma fpgrowth untuk mendapatkan frequent patterns
frequent_patterns= fpgrowth(df_encoded, min_support=0.03, use_colnames=True)

rule_FPGROWTH = association_rules(frequent_patterns, metric="confidence", min_threshold= 0.4)
rule_FPGROWTH

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(TPP00010),(PDU000072),0.145624,0.298191,0.114498,0.786257,2.636754,0.071074,3.283427,0.726548
1,(TPP00010),(311111),0.145624,0.175413,0.097964,0.672722,3.835083,0.072420,2.519531,0.865250
2,(311111),(TPP00010),0.175413,0.145624,0.097964,0.558479,3.835083,0.072420,1.935074,0.896508
3,"(PDU000072, TPP00010)",(311111),0.114498,0.175413,0.087469,0.763938,4.355090,0.067385,3.493093,0.869996
4,"(PDU000072, 311111)",(TPP00010),0.141124,0.145624,0.087469,0.619804,4.256206,0.066918,2.247202,0.890756
...,...,...,...,...,...,...,...,...,...,...
7866,"(PDU000072, PDU006561)","(TPP00001, PDU008582, 311111)",0.046811,0.034289,0.030537,0.652334,19.024635,0.028931,2.777699,0.993965
7867,"(PDU000072, PDU008582)","(TPP00001, 311111, PDU006561)",0.047113,0.034907,0.030537,0.648154,18.567951,0.028892,2.742940,0.992923
7868,"(PDU006561, PDU008582)","(TPP00001, 311111, PDU000072)",0.046366,0.078110,0.030537,0.658605,8.431788,0.026915,2.700360,0.924255
7869,(PDU006561),"(TPP00001, PDU008582, 311111, PDU000072)",0.067773,0.033124,0.030537,0.450573,13.602447,0.028292,1.759788,0.993839
7870,(PDU008582),"(TPP00001, PDU006561, 311111, PDU000072)",0.062482,0.033498,0.030537,0.488725,14.589603,0.028444,1.890377,0.993536

In [50]:
# Menghitung rata-rata kolom 'lift'
rata_rata_lift = rule_FPGROWTH['lift'].mean()

# Menampilkan hasil
print("Rata-rata kolom 'lift':", rata_rata_lift)

Rata-rata kolom 'lift': 6.501174525292283

In [8]:
# Menyimpan aturan asosiasi ke dalam file Excel
rule_FPGROWTH.to_excel(r'C:\Users\JTR.SETDITJEN.PPTR\Desktop\hasil rule_FP Growth_0.03_0.4.xlsx', index=False)

print ('selesai')

selesai

In [22]:
# Cara menghitung catatan waktu proses asosiasi
import time
start_time = time.time()

frequent_patterns= fpgrowth(df_encoded, min_support=0.01, use_colnames=True)
rule_FPGROWTH = association_rules(frequent_patterns, metric="confidence", min_threshold= 0.4)
rule_FPGROWTH

elapsed_FpGrowth = time.time() - start_time
elapsed_FpGrowth
print ("Catatan Waktu : ",elapsed_FpGrowth)

Catatan Waktu :  14.141404151916504